<div class="comments">
{{#each this}}
<section class="comment">

<div class="card-text">
    {{comment_text}}  <br>This comment was written by --{{developer.username}}-- on {{format_date createdAt}}
</div>
</section>
{{/each}}
</div>