 <article class="post">
        <div class="title">
           <span><a href="/post/{{id}}" target="_blank">{{post_title}}</a> </span> 
        </div>
        <div class="content">
            {{post_content}}
        </div>

    </article>