<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jides CMS Style Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Jides CMS Style Blog</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a herf="/dashboard">dashboard</a>
        <button id="logout" class="logout-btn">Logout</button> <br>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
     
    </header>
    <main class="main">
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>