<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jides CMS Style Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="body">
  <div class="wrapper">
    <header id="header">
       <nav class="nav-menu">
        {{#if loggedIn}}
        <a class="header-text" href="/dashboard">Dashboard</a>
         <a class="header-text" href="/">Homepage</a><br><br>
         <button id="logout" class="logout-btn">Logout</button>
        {{else}}
        <a class="link" href="/login">Login</a>
        {{/if}}
      </nav>
      <h1 class="Homepage-header">
        <a class="header-text" href="/">JIDE'S BLOG</a>
      </h1>
     
     
    </header>
    <main class="main">
      {{{ body }}}
    </main>
    <footer class="footer">
      Thanks for visiting!
    </footer>
  </div>
  {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>