<section>
  <h2 id="title-post">Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title" id="title-post">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-content" id="post-content-text">Content</label><br>
      <textarea id="post-content" name="post-content" /></textarea>
    </div>
    <button type="submit" id="btn">POST</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2 id="title-post">Your Posts</h2>

    {{#each posts as |post|}}
    
      {{> post-info post}}
      <button id="btn">
        <a class="link" href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      </button>
      
    
    {{/each}}
  
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>