<article>
  <a class="link" href="/dashboard"> &larr; Back to dashboard</a>
  <h2  id="title-post">
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
        <label for="title-post" id="post-title">Title</label>
      <input id="post-title" name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <label for="post-content" id="post-content-text">Content</label><br>
      <textarea id="post-content" name="post-content" /></textarea>
    </div>
  <div>
    <button id="btn" type="submit">Save post</button> 
    <br>
    <button id="btn" type="button" class="delete-post-btn">Delete post</button>
  </div>
    
    
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
