<form class="login-form">
    <div>
        <label id="title-post" for="email-login">Email:</label>
        <input type="text" id="email-login"/>
    </div>
    <div>
        <label id="title-post" for="password-login">Password:</label>
        <input type="password" id="password-login"/>
    </div>
    <div>
        <button id="logout" type="submit">Login</button>
    </div>
</form>

<br>
<br>
<br>

<form class="signup-form">
    <div>
        <label id="title-post" for="username-signup">Username:</label>
        <input type="text" id="username-signup"/>
    </div>
    <div>
        <label id="title-post" for="email-signup">Email:</label>
        <input type="text" id="email-signup"/>
    </div>
    <div>
        <label id="title-post" for="password-sign up">Password:</label>
        <input type="password" id="password-signup"/>
    </div>
    <div>
        <button id="logout" type="submit">Sign Up</button>
    </div>
</form>
<script src="/javascript/login.js"></script>