.body{
  background-color: bisque;
  height: 100%;
}


.title {
 margin-top: 10pt;
 margin-bottom: 10pt;
 font-family: monospace;
}

.title-text {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-family: monospace;
  font-size: large;
  color: white;
}

#span-text {
  float: inline-end;
  text-decoration: none;
  font-family: monospace;
  font-size: small;
  color: white;
}

.content {
    font-size: large;
    border: 10pt;  
    color: white;
  }

  .main {
    border: 10pt;  
    border-color: black;
  }

  #header {
    background-color: burlywood;
    border-radius: 5px;
    padding: 4pt;
    color: white;
    font-family: monospace;
  }

  .header-text {
    text-decoration: none;
    color: white;
    font-family: Helvetica;
  }

  .Homepage-header {
    margin-left: auto;
    margin-right: auto;
    background-color: brown;
    font-family: monospace;
    justify-content: center;
    text-align: center;
    width: max-content;
    border-radius: 5px;
    padding: 10pt;
  }
.post-list{
  margin-top: 5px;
  margin-bottom: 5px;
  
}
  .post-card{
  
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .card-text {
    background-color: burlywood;
    padding: 30pt;
    border-radius: 5px;
    font-family: monospace;
    margin-top: 5pt;
    margin-bottom: 5pt;
  }

  .nav-menu{
    display: inline-block;
  }

  #logout {
    display: flex;
    background-color: brown; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    justify-content: right;
   
  }

  #textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  #post-content {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  #btn {
    display: flex;
    background-color: brown; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    justify-content: right;
   
  }

  #title-post {
    font-family: monospace;
    color: black;
    font-size: large;
    
  }

  #post-title {
    width: 99.5%;
    border-radius: 5px;
  }

  #post-content-text {
    font-family: monospace;
    color: black;
    font-size: large;
  }

  .link {
    text-decoration: none;
    font-family: monospace;
    color: black;
    font-size: large;
  }
  
  .footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15pt;
    background-color: brown;
    border-radius: 5px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-decoration: none;
    font-family: monospace;
    color: black;
    font-size: large;
  }